.cardButton {
  border-radius: 3px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.03);
  padding: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cardButton:hover {
  background: rgba(255, 255, 255, 0.1);
}
